In [1]:
# Pyspark Dataframes
# filter operation
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()
df_pyspark = spark.read.option("header","true").csv("test1.csv",inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Filter Operations

# Salary of the people less than 20000

In [10]:
df_pyspark.filter(df_pyspark["Salary"]<=15000).select(["Name","age"]).show()

+------+---+
|  Name|age|
+------+---+
|Harsha| 21|
+------+---+

### GroupBy and Aggregate functions

In [11]:
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName("Agg").getOrCreate()

In [13]:
spark

In [14]:
df_pyspark=spark.read.option("header","true").csv("test3.csv",inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [19]:
### Groupby
df_pyspark.groupBy("Name").sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+