In [1]:
 from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [7]:
# Reading the dataset
# inferSchema sets the data type of columns according to what's given in the csv file
df_pyspark = spark.read.option('header','true').csv('data.csv',inferSchema=True)

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| ilhan|
| shoie|
|wajith|
+------+

In [12]:
 df_pyspark['Name']

TypeError: 'Column' object is not callable

In [24]:
from pyspark.sql.functions import col,lit
df_pyspark = df_pyspark.withColumn('Age After 2 years',lit("usa"))

In [25]:
df_pyspark.show()

+------+---+-----------------+
|  Name|Age|Age After 2 years|
+------+---+-----------------+
| ilhan| 19|              usa|
| shoie| 25|              usa|
|wajith| 25|              usa|
+------+---+-----------------+

In [27]:
df_pyspark = df_pyspark.drop('Age after 2 years')

In [28]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
| ilhan| 19|
| shoie| 25|
|wajith| 25|
+------+---+

In [29]:
df_pyspark = df_pyspark.withColumnRenamed('Name','Vayasu')

DataFrame[Vayasu: string, Age: int]

In [30]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
| ilhan| 19|
| shoie| 25|
|wajith| 25|
+------+---+