In [1]:
import pyspark

In [1]:
import pandas as pd

In [3]:
pd.read_csv('data.csv')

     Name  Age
0   ilhan   19
1   shoie   25
2  wajith   25

In [4]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [9]:
df_pyspark = spark.read.csv('data.csv')

In [10]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [12]:
 df_pyspark = spark.read.option('header','true').csv('data.csv')

In [13]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
| ilhan| 19|
| shoie| 25|
|wajith| 25|
+------+---+

In [14]:
df_pyspark.head(1)

[Row(Name='ilhan', Age='19')]

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)