In [4]:
#Handling missing values
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('professions.csv').getOrCreate()

In [18]:
df_pyspark = spark.read.option('header','true').csv('professions.csv',inferSchema=True)

In [19]:
df_pyspark.show()

+---------+----+--------------------+
|     Name| Age|          Profession|
+---------+----+--------------------+
|    Ilhan|  29|Principal Softwar...|
|    Shoie|  35|          CEO - BASF|
|  Nishadh|  41|   Head of analytics|
|   Rifadh|  41|         CEO - ONINE|
|    Azhar|  34|Greatest Cardiolo...|
|  Arshadh|  42|         CEO - EXXON|
|  Arshiya|  25|   Software Engineer|
|Chandhini|  30|  Dance School owner|
|    Suraj|null|    Marine Architect|
|Arundathi|null|                null|
|   Aparna|null|                null|
|   Aadith|null|          Footballer|
|   Kaveri|  29|                null|
+---------+----+--------------------+

In [20]:
# Remove every row that has atleast one null value
df_pyspark.na.drop(how='any').show()

+---------+---+--------------------+
|     Name|Age|          Profession|
+---------+---+--------------------+
|    Ilhan| 29|Principal Softwar...|
|    Shoie| 35|          CEO - BASF|
|  Nishadh| 41|   Head of analytics|
|   Rifadh| 41|         CEO - ONINE|
|    Azhar| 34|Greatest Cardiolo...|
|  Arshadh| 42|         CEO - EXXON|
|  Arshiya| 25|   Software Engineer|
|Chandhini| 30|  Dance School owner|
+---------+---+--------------------+

In [21]:
# Remove every row that has all null values
df_pyspark.na.drop(how='all').show()

+---------+----+--------------------+
|     Name| Age|          Profession|
+---------+----+--------------------+
|    Ilhan|  29|Principal Softwar...|
|    Shoie|  35|          CEO - BASF|
|  Nishadh|  41|   Head of analytics|
|   Rifadh|  41|         CEO - ONINE|
|    Azhar|  34|Greatest Cardiolo...|
|  Arshadh|  42|         CEO - EXXON|
|  Arshiya|  25|   Software Engineer|
|Chandhini|  30|  Dance School owner|
|    Suraj|null|    Marine Architect|
|Arundathi|null|                null|
|   Aparna|null|                null|
|   Aadith|null|          Footballer|
|   Kaveri|  29|                null|
+---------+----+--------------------+

In [22]:
# Remove every row that contains less than two non null values
df_pyspark.na.drop(how='any',thresh=2).show()

+---------+----+--------------------+
|     Name| Age|          Profession|
+---------+----+--------------------+
|    Ilhan|  29|Principal Softwar...|
|    Shoie|  35|          CEO - BASF|
|  Nishadh|  41|   Head of analytics|
|   Rifadh|  41|         CEO - ONINE|
|    Azhar|  34|Greatest Cardiolo...|
|  Arshadh|  42|         CEO - EXXON|
|  Arshiya|  25|   Software Engineer|
|Chandhini|  30|  Dance School owner|
|    Suraj|null|    Marine Architect|
|   Aadith|null|          Footballer|
|   Kaveri|  29|                null|
+---------+----+--------------------+

In [23]:
# Remove every row that has a null value in the Age column
df_pyspark.na.drop(how='any',subset=['Age']).show()

+---------+---+--------------------+
|     Name|Age|          Profession|
+---------+---+--------------------+
|    Ilhan| 29|Principal Softwar...|
|    Shoie| 35|          CEO - BASF|
|  Nishadh| 41|   Head of analytics|
|   Rifadh| 41|         CEO - ONINE|
|    Azhar| 34|Greatest Cardiolo...|
|  Arshadh| 42|         CEO - EXXON|
|  Arshiya| 25|   Software Engineer|
|Chandhini| 30|  Dance School owner|
|   Kaveri| 29|                null|
+---------+---+--------------------+

In [24]:
# Replace missing values
df_pyspark = df_pyspark.na.fill('No idea',['Age'])
df_pyspark = df_pyspark.na.fill('Check Linkedin',['Profession'])

In [25]:
df_pyspark.show()

+---------+----+--------------------+
|     Name| Age|          Profession|
+---------+----+--------------------+
|    Ilhan|  29|Principal Softwar...|
|    Shoie|  35|          CEO - BASF|
|  Nishadh|  41|   Head of analytics|
|   Rifadh|  41|         CEO - ONINE|
|    Azhar|  34|Greatest Cardiolo...|
|  Arshadh|  42|         CEO - EXXON|
|  Arshiya|  25|   Software Engineer|
|Chandhini|  30|  Dance School owner|
|    Suraj|null|    Marine Architect|
|Arundathi|null|      Check Linkedin|
|   Aparna|null|      Check Linkedin|
|   Aadith|null|          Footballer|
|   Kaveri|  29|      Check Linkedin|
+---------+----+--------------------+

In [26]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Profession: string (nullable = false)

In [ ]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols = []
    )